body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.o-test-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
}

.m-pagination {
  padding: 2rem;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
}

.m-pagination__page-number {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  cursor: pointer;
}

.m-pagination__page-number--active {
  border-bottom: 2px solid black;
  cursor: default;
}
