body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// test component
.o-test-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
}

.m-pagination {
  padding: 2rem;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
  &__page-number {
    margin: {
      left: 0.4rem;
      right: 0.4rem;
    }
    cursor: pointer;
    &--active {
      border-bottom: 2px solid black;
      cursor: default;
    }
  }
}